.sidebar {
  border-radius: 10px;
  box-shadow: var(--todo-shadow);
  background: var(--todo-bg);

  .content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}