.todos {
  max-width: 80%;
}

.todos-header {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  .title {
    font-size: 1.3rem;
    padding: 5px 16px;
    border-radius: 8px;
    box-shadow: var(--todo-shadow);
    background: var(--todo-bg);
  }
}

.empty-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-list {
  display: grid;
  gap: 1.2rem;
}

.todo {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  position: relative;
  align-items: center;
  box-shadow: var(--todo-shadow);
  background: var(--todo-bg);
  padding: 5px;
  border-radius: 10px;

  &>* {
    justify-self: center;
  }

  h3 {
    word-wrap: break-word;
  }

  button {
    cursor: pointer;
    position: static;
    margin-right: 10px;

    a {
      color: var(--text-box);
    }

  }

  .tick-btn {
    font-size: 1.25rem;
    background: white;
    border-radius: 50%;
    color: #009930;
    display: flex;
  }
}

.loading {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
  box-shadow: var(--todo-shadow);
  background: var(--todo-bg);
  border-radius: 10px;

  &>* {
    background: rgb(226, 226, 226);
    width: 20px;
    height: 20px;


    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, .05) 20%, #d9d9d9 50%, #d9d9d9 100%);
    background-size: 500px 200px;
    background-repeat: no-repeat;
    animation: loading 1s linear infinite;
  }

  .title {
    width: 300px;
  }

  .circle {
    border-radius: 50%;
  }

  .b {
    width: 50px;
    border-radius: 6px;
  }
}

@keyframes loading {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}